/* Generic Styling */
html {
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    background-color: #57595b;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}
img {
    object-fit: cover;
}
ul,
li,
a {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: whitesmoke;
}
/* General Utility Classes */
*[heading1] {
    font-size: clamp(1.5rem, 5vw, 3rem);
}
*[heading2] {
    font-size: clamp(1.25rem, 4vw, 2rem);
}
*[heading3] {
    font-size: clamp(0.875rem, 2.5vw, 1rem);
}
*[heading4] {
    font-size: clamp(0.75rem, 2vw, 0.875rem);
}
*[p-1] {
    padding: clamp(0.5rem, 2vw, 1rem);
}
*[p-2] {
    padding: clamp(1rem, 4vw, 2rem);
}
*[p-3] {
    padding: clamp(1.5rem, 6vw, 3rem);
}
*[gap-1] {
    gap: 1rem;
}
*[gap-2] {
    gap: 2rem;
}
*[gap-3] {
    gap: 3rem;
}
*[gap-4] {
    gap: 4rem;
}
*[rounded] {
    border-radius: 100%;
}
*[h-auto] {
    height: auto;
}
*[w-10] {
    width: clamp(60px, 10%, 150px);
}
*[w-20] {
    width: clamp(100px, 20%, 250px);
}
*[w-30] {
    width: clamp(150px, 30%, 350px);
}
*[w-40] {
    width: clamp(200px, 40%, 450px);
}
*[w-50] {
    width: clamp(250px, 50%, 550px);
}
*[w-60] {
    width: clamp(300px, 60%, 650px);
}
*[w-70] {
    width: clamp(350px, 70%, 750px);
}
*[w-80] {
    width: clamp(400px, 80%, 850px);
}
*[w-90] {
    width: clamp(450px, 90%, 950px);
}
*[w-full] {
    width: 100%;
}
*[horizontal] {
    display: flex;
    flex-direction: row;
}
*[vertical] {
    display: flex;
    flex-direction: column;
}
*[center] {
    display: flex;
    justify-content: center;
    align-items: center;
}
*[right] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
*[left] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
*[font-bold] {
    font-weight: 700;
}
*[font-medium] {
    font-weight: 500;
}
*[font-light] {
    font-weight: 100;
}
*[white] {
    color: whitesmoke;
}
/*Specific Styling*/
.profile-pic {
    width: 3rem;
}
.divider {
    align-self: stretch;
    width: 1px;
    background-color: black;
}
about-me {
    align-items: stretch;
}
